@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';

.header{
    padding: 50px 0;
    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.menu{
    &__list{
        display: flex;
    }
    &__list-item + .menu__list-item{
        padding-left: 32px;
    }
    &__list-link{
        @extend %rubik-500;
        font-size: 15px;
        line-height: 12px;
        color: #436372;
    }
}

.user-nav{
    display: flex;
    align-items: center;
    &__item + .user-nav__item{
        margin-left: 20px;
    }
    &__purchase{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 178px;
        height: 51px;
        background-color: #fbd7b5;
        border-radius: 26px;
    }

    &__wishlist,
    &__cart{
        position: relative;
        padding: 8px 34px;
    }

    &__cart{
        border-left: 1px solid #fde7d3;
    }

    &__num{
        position: absolute;
        width: 16px;
        height: 16px;
        top: 0;
        right: 25px;
        border-radius: 50%;
        background-color: #fff;
        @extend %dmsans-400;
        font-size: 10px;
        line-height: 16px;
        color: #243f4d;
        text-align: center;
    }
    
    &__search{
        background-color: #edf1f4;
        padding: 17px;
        border-radius: 50%;
    }
}


.footer{
    &__partners{
        width: 100%;
        padding: 262px 0 90px;
        background-color: #fef7f0;
    }
    &__partners-list{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    &__top{
        padding: 80px 0 75px;
        border-bottom: 1px solid #dae4e9;
        display: flex;
        align-items: flex-start;
    }
    &__top-contact{
        width: 218px;
        margin-right: 82px;
        margin-top: -18px;
    }
    &__top-logo{
        display: block;
        margin-bottom: 30px;
    }
    &__top-address,
    &__top-phone{
        display: block;
        margin-bottom: 20px;
    }

    &__top-nav{
        width: 120px;
        margin-right: 180px;
    }

    &__top-title{
        @extend %dmsans-700;
        font-size: 16px;
        line-height: 1;
        color: #1f2044;
        text-transform: uppercase;
        margin-bottom: 22px;
    }
    &__top-subscribe{
        @extend %dmsans-400;
        width: 270px;
    }
    
    &__top-link{
        line-height: 32px;
    }

    &__top-text{
        margin-bottom: 30px;
    }
    &__top-input{
        background-color: #fef7f0;
        border: none;
        max-width: 166px;
        width: 100%;
        height: 38px;
        border: none;
        padding: 13px 12px 13px 15px;
        font-size: 12px;
        &::placeholder{
            font-size: 12px;
            color: #234969;
        }
    }
    &__top-btn{
        cursor: pointer;
        border: none;
        padding: 0;
        width: 100px;
        height: 38px;
        background-color: #a3bbc8;
        font-size: 14px;
        line-height: 21px;
        color: #fff;
    }
    
    &__bottom{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 38px 0;
        line-height: 16px;
    }
    &__bottom-menu{
        display: flex;
    }
    &__bottom-item:nth-child(-n+3){
        padding-right: 15px;
    }
    &__bottom-item:nth-child(n+2){
        padding-left: 15px;
        border-left: 1px solid;
    }
}






@import 'media';